h1 New candidate reply
h3 = "Job title: #{@candidate.position.title}"
h3 = "Experience: #{@candidate.position.experience}"
h3 = "Skills: #{@candidate.position.technologies.map{|tech| tech.name}.split.join(', ')}"
h5 = "Name: #{@candidate.name}"
h5 = "Email: #{@candidate.email}"
h5 = "Phone: #{@candidate.phone}"
h5 = "Remotely: #{@candidate.remotely}"
